<p id="notice"><%= notice %></p>

<p>
  <strong>Buildingtype:</strong>
  <%= @quote.BuildingType %>
</p>

<p>
  <strong>Numberoffloors:</strong>
  <%= @quote.NumberOfFloors %>
</p>

<p>
  <strong>Numberofbasements:</strong>
  <%= @quote.NumberOfBasements %>
</p>

<p>
  <strong>Numberofcompanies:</strong>
  <%= @quote.NumberOfcompanies %>
</p>

<p>
  <strong>Numberofparkingspots:</strong>
  <%= @quote.NumberOfParkingSpots %>
</p>

<p>
  <strong>Numberofelevators:</strong>
  <%= @quote.NumberOfElevators %>
</p>

<p>
  <strong>Numberofapartments:</strong>
  <%= @quote.NumberOfApartments %>
</p>

<p>
  <strong>Numberofcorporations:</strong>
  <%= @quote.NumberOfCorporations %>
</p>

<p>
  <strong>Numberofoccupany:</strong>
  <%= @quote.NumberOfOccupany %>
</p>

<p>
  <strong>Numberofbusinesshours:</strong>
  <%= @quote.NumberOfBusinessHours %>
</p>

<p>
  <strong>Elevatoramount:</strong>
  <%= @quote.ElevatorAmount %>
</p>

<p>
  <strong>Columnamount:</strong>
  <%= @quote.ColumnAmount %>
</p>

<p>
  <strong>Productline:</strong>
  <%= @quote.ProductLine %>
</p>

<p>
  <strong>Elevatorunitcost:</strong>
  <%= @quote.ElevatorUnitCost %>
</p>

<p>
  <strong>Elevatortotalcost:</strong>
  <%= @quote.ElevatorTotalCost %>
</p>

<p>
  <strong>Installationcost:</strong>
  <%= @quote.InstallationCost %>
</p>

<p>
  <strong>Totalprice:</strong>
  <%= @quote.TotalPrice %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
