<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.LastName %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.Title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.Email %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
