<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Companyname</th>
      <th>Nameofcontact</th>
      <th>Companycontactphone</th>
      <th>Emailofthecompany</th>
      <th>Companydescription</th>
      <th>Nameofservicetechauthority</th>
      <th>Techauhtorityphone</th>
      <th>Techmanagerserviceemail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.CompanyName %></td>
        <td><%= customer.NameOfContact %></td>
        <td><%= customer.CompanyContactPhone %></td>
        <td><%= customer.EmailOfTheCompany %></td>
        <td><%= customer.CompanyDescription %></td>
        <td><%= customer.NameOfServiceTechAuthority %></td>
        <td><%= customer.TechAuhtorityPhone %></td>
        <td><%= customer.TechManagerServiceEmail %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
